html {
    background:#fff
}

.row > div,.container {
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out
}

body {
    font-family: "Open sans",sans-serif
}

.wrapper {
    background:#fff;
}

.content-inner {
    background:#fff
}

h1,h2,h3,h4,h5,h6,p, li {
    margin:0 0 1em;
    padding:0;
    /*color: #404040;*/
}

p, ol, ul {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.7em;
}

.carouselCenter{
    float: none;
    margin: 0 auto;
}

.gifImage{
    display: none;
    /*visibility: hidden;*/
    height:0;
    width:0;
}



a {
    cursor:pointer;
    text-decoration:none!important;
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out
}

.inline-block {
    display:inline-block
}

/*Portfolio fonts*/

.portfolio-piece h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    /*color: #585858;*/
    text-transform: uppercase;
    letter-spacing: 0.04em;
}


.portfolio-piece p{
    margin-left: 0;
}

/*.portfolio-piece h4{
    font-size: 1.4em;
}*/


/*Portfolio images*/

.image-wrapper{
    margin: 3em auto 4em auto;
    float:none;
}



.single-image{
    /*margin: 2em 0em 2em 0em;*/
    margin-bottom: 2em;
}

figcaption{
    font-size: .9em;
    line-height: 1.9em;
    color:#818181;
}




/*.proj-intro{
    font-size: 1.1em;
    display: inline;
}*/

/*Portfolio hero images*/

.proj-image{
    position:relative;
    padding-bottom: 6em;
}

.title-caption{
    top:2em;
    left:2em;
    color:white;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}

.section-title{
    font-family: 'Montserrat', sans-serif;
}


.overview, .portfolio-content{
    float: none;
    /*text-align: center;*/
    /*margin-top: 2em;*/
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
}



.page-intro{
    text-align: center;
}

.title-text{
    text-align: right;
}



/* Navigation */
.navbar-header{
margin: -15px;
padding:0  15px;
background: #fff;}

.navbar-collapse{
width: 100%;
}

.navbar-toggle {
    border:0;
    border-radius:0;
    margin:20px 15px
}

.navbar-toggle .icon-bar {
    background:#333;
    height:2px;
    border-radius:2px
}

.navbar-brand {
    font-weight:500;
    border:2px solid #44454b;
    margin:15px;
    padding:8px 14px 7px;
    font-size:1.3em;
    height:auto;
    color:#44454b
}

.navbar-brand:hover {
    color:#1eadef;
    border-color:#1eadef
}

.social li a {
    padding-right:0
}

.navbar-nav>li>a {
    display:block;
    margin:12px 0;
    color:#999;
    transition:color .25s ease-in-out;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out
}

.navbar-nav>li>a:hover{
    background:none;
    color:#1eadef;
}
.navbar-nav>li>a:focus{
    background:none;
 }
 
.social li{
display: inline-block}

/* Intro */

/*.col-centered{
    float: none;
    margin: 0 auto;
}
.intro {
    padding-top:14em;
    line-height:1.6em;
    
}*/
.about-intro h1{
    font-size: 3em;
    line-height: 1.3em;
}

.about-intro span {
    font-weight:100
}

.about-intro{
    float: none;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 10em;
    margin-right: auto;
    margin-left: auto;
}

/*.intro h1{
    font-size: 1.2em;
}*/

/*Styling for mobile gifs*/
.demo{
    max-height: 500px;
    box-shadow: 1px 1px 4px 2px #C0C0C0;
}

.demo-back{
    background-color: #F8F8F8;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

/* Grid List  */
.grid-list-wrapper {
    margin:0 0 4em
}

.grid-list {
    background:#fff;
    margin:0 0 3em
}

.grid-list img {
    width:100%;
    height:auto
}

.overlay a {
    color:#222;
    padding:1em 2em;
    display:block;
}

.overlay h2 {
    font-size:1.2em;
    line-height:1.35em;
    margin:0;
    padding:.5em 0
}

.overlay h3 {
    display:none;
    padding:0;
    font-size:1.2em;
    line-height:1em
}

.overlay span {
    text-transform:uppercase;
    font-weight:100;
    margin-right:1em
}

/* Footer */
footer {
    clear:both;
    padding:3em 0
}

.nav-footer {
    margin:0;
    padding:0
}

.nav-footer ul {
    margin:0;
    padding:0;
    text-align:center
}

.nav-footer li {
    list-style:none;
    margin:.5em;
    display:inline-block
}

.nav-footer a {
    color:#999;
    transition:color .25s ease-in-out;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out
}

.nav-footer a:hover {
    color:#1eadef
}

header {
    margin:15px
}

footer p {
    margin:0
}

.credits {
    color:#e7e7e7;
    font-weight:100;
    margin:7px 0
}

.navbar-brand-wrapper {
    margin:3em 0 2em;
    opacity:.2
}

footer .navbar-brand {
    float:none;
    text-align:center;
    width:100%
}

footer {
    background:#fff
}

.wrapper footer .container {
    box-shadow:none
}

.grid-list-wrapper li {
    list-style:none;
}
 

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
.overlay{
min-height: 90px;
text-align: center;
}
    
header {
    background:#fff;
    margin:2em 15px;
    padding:20px 0px
}
    
    .navbar-header{
        margin: 0;
        padding:0;
        background: #fff;
}

.intro {
    font-size:1.6em;
    margin:0 0 .9em
}

.navbar-nav.social {
    float:right
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
.overlay {
    font-size:120%
}

.wrapper-inner {
    /*padding:10px 50px*/
}

.portfolio-item.wrapper-inner {
    padding:1em 10em
}

.overlay h3 {
    display:block;
    line-height:1.5em
}

.overlay h3 span {
    display:block;
    opacity:.34
}

.overlay h3 span:hover {
    opacity:.54
}

header {
    background:#fff;
    margin:0;
    padding:0
}

.no-gutter-space {
    margin:0
}

.no-gutter-space > div {
    margin:0;
    padding:0
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transition:opacity .25s ease-in-out;
    -o-transition:opacity .25s ease-in-out;
    -moz-transition:opacity .25s ease-in-out;
    -webkit-transition:opacity .25s ease-in-out;
    opacity:0;
    background:#f5f5f5;
    background:rgba(0,0,0,.5)

}

/*******
Grid tile animations
*******/

.grid-list:hover .overlay {
    opacity:1
}


.virtual-agents-tile:hover .gifImage,.icommute-tile:hover .gifImage,.palau-tile:hover .gifImage,.decision-tree-tile:hover .gifImage,.pricing-tile:hover .gifImage,.item-selector-tile:hover .gifImage, .sugarwod-tile:hover .gifImage{
    /*visibility: visible;*/
    display:block;
    height:100%;
    width:100%;
}

.virtual-agents-tile:hover .initialImage,.icommute-tile:hover .initialImage,.palau-tile:hover .initialImage,.decision-tree-tile:hover .initialImage,.pricing-tile:hover .initialImage,.item-selector-tile:hover .initialImage,.sugarwod-tile:hover .initialImage{
    opacity: 0;
    display: none;
}


.overlay a {
    font-size:.8em;
    color:#fff;
    height:100%;
    width:100%;
    display:block
}

/*******
END: Grid tile animations
*******/

.grid-list {
    margin:0;
    padding:0
}

.navbar {
    /*padding:0em 30px 1em*/
    padding-top: .5em;
    /*padding-bottom: .2em;*/
}

.intro {
    padding:0 50px 2em
}

.wrapper .container {
    padding:0;
    background:#fff
}

.wrapper {
    padding:0 0 2em;
    margin:0em 0 0;
    clear:both
}

.wrapper .container {
    /*box-shadow:0 0 20px rgba(0,0,0,.05)*/
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
.wrapper {
    padding:0 0 5em;
    clear:both
}
}